*.MD    text eol=lf diff=markdown
*.cpp   text eol=lf diff=cpp
*.h     text eol=lf diff=cpp
*.py    text eol=lf diff=python
*.html  text eol=lf diff=html
*.mdp   binary
*.mak   text eol=crlf
**/*.ico binary
**/*.png binary
**/*.svg text eol=lf
**/*.desktop text eol=lf
assets/widescreen/ filter=lfs diff=lfs merge=lfs -text
assets/hdmusic/ filter=lfs diff=lfs merge=lfs -text
